body{
    display: flex;
    flex-direction: column;
}

main{
    margin-top: 8vh;
}

.heading{
    margin: 2vh;
}

.projectcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2vh;
}

.projectcard{
    display: flex;
    border: 2px solid #000;
    border-radius: 2vh;
    background-color: rgb(255, 255, 255);
    margin: 2vh;
}

.projectcard img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 2vh;
    height: auto;
    margin: 0;
}
